{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    
       <div class="tech-page1">
            <div class = "nav1" >
                    <div class = "nav-text" onclick="location.href='{{base_url}}/technology/css'">CSS</div>
                    <div class = "nav-text" onclick="location.href='{{base_url}}/technology/git'">Git</div>
                    <div class = "nav-text" onclick="location.href='{{base_url}}/technology/html'">Html</div>
                    <div class = "nav-text" onclick="location.href='{{base_url}}/technology/javascript'">JAVASCRIPT</div>
                    <div class = "nav-text" onclick="location.href='{{base_url}}/technology/php'">PHP</div>
                    <div class = "nav-text" onclick="location.href='{{base_url}}/technology/python'">PYTHON</div>
                    <div class = "nav-text" onclick="location.href='{{base_url}}/technology/sqlite'">SQLITE</div>
            </div>
            <div class = "cont">
               {{ content }}
          </div>

        </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
